<div id="art_aqa_product_modal_success" class="modal modal-custom fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h3 class="modal-title">{{ text_art_aqa_product_title }}</h3>
			</div>
			<div class="modal-body">
				<div class="row">	
					<div class="col-xs-12"><p>{{ text_success }}</p></div>
				</div>
			</div>
		</div>
	</div>
</div>
