<div id="cart" class="btn-group btn-block">
  <a href="{{ checkout }}" class="header-cart-btn header-compare btn btn-inverse">
    <span class="header-cart-inner header-compare-inner">
      <span class="header-cart-icon header-compare-icon"></span>
      <span class="header-cart-text header-compare-text" id="cart-total">{{ text_items }}</span>
    </span>
  </a>
</div>
