<div id="search" class="input-group">
  <button type="button" class="search-btn btn btn-default">{{ text_search }}</button>
  <span class="search-icon"></span>
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search_placeholder }}" class="form-control" />
</div>