{% if field_rating %}
<span class="rating">
  {% for i in 1..5 %}
  {% if rating < i %}
  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
  {% else %}
  <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
  {% endif %}
  {% endfor %}
</span>
{% endif %}
<span>{{ text_total }}{{ total }}</span>
<input type="hidden" name="p_review_total" value="{{ total }}">