<form action="{{ action }}" method="post">
  <input type="hidden" name="operation_xml" value="{{ xml }}">
  <input type="hidden" name="signature" value="{{ signature }}">
  <div class="ch-products-order text-center">
    <input type="submit" class="ch-products-order-btn btn btn-default" id="order-confirmed" value="{{ button_confirm }}">
  </div>
</form>
