<p>{{ text_instruction }}</p>
<p>{{ text_printpay }}</p>
<p>{{ text_payment }}</p>

<div class="ch-products-order text-center">
  <button class="ch-products-order-btn btn btn-default" id="order-confirmed">{{ button_confirm }}</button>
</div>
