{% for category in category_group_compare %}
    <ul _ngcontent-c9="" class="header-comparison__list">
        <li _ngcontent-c9="" class="header-comparison__item"><a _ngcontent-c9="" class="header-comparison__link" href="{{ category.href }}">
                {{ category.name_category }}
                <button _ngcontent-c9="" type="button">
                    <svg _ngcontent-c9="" height="20" width="20">
                        <use _ngcontent-c9="" xlink:href="#icon-close-modal"
                             xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </button>
            </a></li>
    </ul>
{% endfor %}