<div class="pr-sale-pay-del-wrap">
    <div class="pr-sale pr-sale-pay-del-block">
        <div class="pr-sale-pay-del-title"><span>Цена</span></div>
        <ul class="pr-sale-pay-del-text ul-icon-green">
            <li>Розничная</li>
            <li>Оптовая по телефону</li>
        </ul>
    </div>
    <div class="pr-pay pr-sale-pay-del-block">
        <div class="pr-sale-pay-del-title"><span>Способы оплаты</span></div>
        <ul class="pr-sale-pay-del-text ul-icon-green">
            <li>Наложенный платеж</li>
            <li>Наличными</li>
            <li>Картой VISA/MasterCard</li>
            <li>Мгновенно через LiqPay</li>
        </ul>
    </div>
    <div class="pr-del pr-sale-pay-del-block">
        <div class="pr-sale-pay-del-title"><span>Способы доставки</span></div>
        <ul class="pr-sale-pay-del-text ul-icon-green">
            <li>Самовывоз из магазина</li>
            <li class="li-title">Бесплатно от 5000 грн:</li>
            <li>«Нова пошта»</li>
            <li>«Ін Тайм»</li>
            <li>«Делівері»</li>
            <li>«Укрпошта»</li>
            <li class="li-title">За пределы Украины:</li>
            <li>«Укрпошта»</li>
        </ul>
    </div>
    <div class="pr-warranty pr-sale-pay-del-block">
        <div class="pr-sale-pay-del-title"><span>Гарантия 12 месяцев<span>обмен или возврат товарав течение 14 дней</span></span></div>
    </div>
</div>