<div id="smca-modal-body">
    <div class="modal-heading">
        <span class="modal-close" onclick="$.magnificPopup.close();"></span>
    </div>
    <div class="modal-body" id="check-data">
        <div id="smca-modal-data">
        </div>
    </div>
</div>